// Color Pallet
$valid:#0db464;
$invalid:#ff0000;
$statement-generic:#288db9;

$grey:#757575;

$lti-width-min:687px;
$lti-width-max:1110px;

$image-upload-continer-height:400px;
$image-upload-continer-width:50%;
$image-upload-dropzone-border-width:5px;

$google-map-height:400px;

$map-page-data-container-height:800px;

$map-page-data-border-width:2;