@import "_constants";
@import "_mixins";


.image-upload-component{
    width:100%;
    height:$image-upload-continer-height;

}

.image-drop-zone-container, .image-tags-input-container{
    width:50%;
    float:left;
    height:$image-upload-continer-height;
}

.image-tags-input-container{
    //background-color: green;
    padding:$image-upload-dropzone-border-width;
    border:$image-upload-dropzone-border-width solid $grey;
}
