@import "_constants";
@import "_mixins";

.dropzone-normal{
    height: $image-upload-continer-height;
    width: 100%;
    padding:$image-upload-dropzone-border-width;
    border:$image-upload-dropzone-border-width solid $grey;
    border-style: dashed;

}


.dropzone-active{
    @extend .dropzone-normal;
    border-color: #15bf00;

}

.dropzone-content-container{
    width: 100%;
    height: ($image-upload-continer-height - ($image-upload-dropzone-border-width*4));
    position: relative;
}


.dropzone-content{
    @include centerer(true,true);
    z-index: 0;
   // background-color:red;
    width:80%;
    text-align: center;
}

.dropzone-content-item{
    padding:5px;
    text-align: center;
    font-weight: bold;
}

.dropzone-content-image-container{
    height: ($image-upload-continer-height - ($image-upload-dropzone-border-width*4));
    text-align: center;
    img{

        max-width: 100%;
        max-height: 100%;
    }

}

.image-remove-button{

    position: absolute;
    right:0;
    top:($image-upload-continer-height - $image-upload-dropzone-border-width*4 - 35);

}

// .image-dropzone-default-options-group{
//     background:blue;
//     text-align:center;
//     float:left;
// }

.image-dropzone-default-options-group{
    margin-top:10px;
    //background-color: blue !important;
}

.image-dropzone-default-options-item{

    float:none;
    text-align: center;
    button{
        float:none;
    }
}