@import "_constants";
@import "_mixins";

.lti_valid_message{
    @include devMessageDefaults();
    background-color: $valid;
}

.lti_invalid_message{
    @include devMessageDefaults();
    background-color: $invalid;
}

.lti_dev_message{
    @include devMessageDefaults();
    background-color: $statement-generic;
}

#app{
    padding-left: 10px;
    padding-right: 10px;
    max-width: $lti-width-max;
    min-width: $lti-width-min;
}


html {font-size: 16px !important;}

//React Date Picker styles overrides-

.react-datepicker__close-icon{
    display:block !important;
    &::after{
        //line-height: 1px !important;
        padding: 1px !important;
        padding-left: 2px !important;
    }
}

//Bootstrap styles overrides -

.control-label{
    padding-top:0 !important;
}

//React Photo Gallery - 
.image-buttons-container{
    //text-align: right;
    margin-bottom:5px;
}
.image-buttons{
    margin-left:5px;
    margin-right:5px;
}
.react-photo-gallery-photo-container {
    background-color:white !important;
}

.btn.active{
    z-index:0 !important;
}