@import "_constants";
@import "_mixins";

.lti_valid_message{
    @include devMessageDefaults();
    background-color: $valid;
}

.lti_dev_message{
    @include devMessageDefaults();
    background-color: $statement-generic;
}

#app{
    padding-left: 10px;
    padding-right: 10px;
    max-width: $lti-width-max;
    min-width: $lti-width-min;
}
