@import "_constants";
@import "_mixins";

.map-page-filter-panel-container{
    width:30%;
 
    height:$map-page-data-container-height;
    float:left;

    box-shadow: inset 0px 0px 0px 2px black;
   // padding:5px;

}

.filter-panel-title-container{
    width:100%;
    height:auto;
    //text-align: center;
    font-size: 20px;
    font-weight: bold;
    background-color:black;
    color:white;
    padding-top:5px;
    padding-left:10px;

}
.filter-container{
    margin-bottom:10px;
}
.filter-container-title{
        background-color: #3E3F40;
        text-align: center;
        padding:5px;
        color:white;
    margin-bottom:10px;
}
.filter-options{
    //padding:5px
    overflow: hidden;
    height:758px;
    overflow-y: scroll;

}

.filter-option-checkbox{
    font-size:16px;
   
//     -ms-transform: scale(2); /* IE */
//  -moz-transform: scale(2); /* FF */
//  -webkit-transform: scale(2); /* Safari and Chrome */
//  -o-transform: scale(2); /* Opera */
//   padding: 10px !important;

}

.resetFilterButton{
    width:100;
    float: right;
    margin:5px;
    margin-top:0;
}

.filter-panel-scroll-for-more{
    position: relative;
    top:-22px;
    width:100%;
    font-size: 16px;
    font-weight: bold;
    border-left:2px solid black;
    border-right:2px solid black;    
    text-align: center;
    background-color:#245959;
    color:white;
}

.age-filter-container{
    margin-left:10px;
}