@import "_constants";
@import "_mixins";



.map-page-data-container{

    width: 100%;
    height:800px;
 //   border:2px solid black;

    -webkit-box-shadow:inset 0px 0px 0px $map-page-data-border-width+unquote("px") black;
    -moz-box-shadow:inset 0px 0px 0px $map-page-data-border-width+unquote("px") black;
    box-shadow:inset 0px 0px 0px $map-page-data-border-width+unquote("px") black;
    
}